body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

form {
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 300px;
    margin: auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

flexbox {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input[type="submit"] {
    background-color: brown;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 49%;
    flex: 1
}

input[type="submit"]:hover{
    background-color: rgb(100, 25, 25);
}

input[type="reset"] {
    background-color: brown;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 49%;
    flex: 1
}

input[type="reset"]:hover{
    background-color: rgb(100, 25, 25);
}

h2{
    text-align: center;
    color: red;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: darkblue;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    color: gray;
}